.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  background-color: #282c34;
}

.message_field {
  margin: auto;
  background-color: rgb(173, 173, 173);
  border: 2px solid;
  border-radius: 15px;
  min-height: 3vh;
  max-width: 30vw;
}

.load-all {
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.load-quiz {
  margin: auto;
}

.announcement {
  text-align: center;
}
